<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <meta charset="utf-8" />
    <title><%= 'site.title'.t %> - <%= 'site.description'.t %></title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js' %>
    <%= javascript_include_tag :all %>
    <%= csrf_meta_tag %>
    <%= viewport_meta_tag %>
    <%= apple_app_capable_meta_tag %>
    <%= apple_app_icon_link_tag %>
  </head>
  <%= content_tag :body, class: controller_name do %>
    <%= yield :top %>
    <%= render 'layouts/header' %>
    <p class="navbar-text pull-right">
    <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>.
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
    <% end %>
    <div class="main">
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
    <%= yield :bottom %>
  <% end %>
</html>
